# dependencies
node_modules/
.pnp
.pnp.js

# python
.venv/
venv/
__pycache__/
*.pyc

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# scrape pipeline
scrape-output/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
